<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RankServlet</servlet-name>
        <servlet-class>com.bpit.gate.RankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvaluateServlet</servlet-name>
        <servlet-class>com.bpit.gate.EvaluateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveExpertInfo</servlet-name>
        <servlet-class>com.bpit.gate.SaveExpertInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserValidateServlet</servlet-name>
        <servlet-class>UserValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserValidateServlet1</servlet-name>
        <servlet-class>com.bpit.gate.UserValidateServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bpit.gate.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.bpit.gate.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveBlogServlet1</servlet-name>
        <servlet-class>com.bpit.gate.SaveBlogServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.bpit.gate.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveComment</servlet-name>
        <servlet-class>com.bpit.gate.saveComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet1</servlet-name>
        <servlet-class>com.bpit.gate.loginservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.bpit.gate.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RankServlet</servlet-name>
        <url-pattern>/RankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvaluateServlet</servlet-name>
        <url-pattern>/EvaluateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveExpertInfo</servlet-name>
        <url-pattern>/SaveExpertInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserValidateServlet</servlet-name>
        <url-pattern>/UserValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserValidateServlet1</servlet-name>
        <url-pattern>/UserValidateServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveBlogServlet1</servlet-name>
        <url-pattern>/SaveBlogServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveComment</servlet-name>
        <url-pattern>/saveComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet1</servlet-name>
        <url-pattern>/loginservlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
